/*
    Wheel of Concept, Matlosh 2023
    https://github.com/Matlosh
*/

// Fonts
@font-face {
    src: url('../fonts/Jost-Light.woff2');
    font-family: 'Jost';
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Jost-Regular.woff2');
    font-family: 'Jost';
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Jost-Medium.woff2');
    font-family: 'Jost';
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Jost-SemiBold.woff2');
    font-family: 'Jost';
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Jost-Bold.woff2');
    font-family: 'Jost';
    font-weight: 300;
    font-display: swap;
}

// Variables
$background: #272727;
$black: #000000;
$white: #ffffff;

// General styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost';
}

body {
    background-color: $background;
}

h1, h2, h3, h4, h5, h6, p, span, a, em {
    color: $white;
}

// Mixins

@mixin hover_pointer() {
    &:hover {
        cursor: pointer;    
    }
}

// General classes
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

// Site elements styles
#content {

    .wheel-container {
        width: fit-content;
        position: relative;

        #wheel {
            border: 1px solid $white;
        }

        .start-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5rem;
            height: 5rem;
            background-color: $white;
            border: 1px solid $black;
            border-radius: 50%;
            @include hover_pointer();

            &.active {
                pointer-events: none;
                opacity: .5;
            }
        }
    }
}
